<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <style>
        body {
            background-color: #000;
            color: #fff;
            font-family: Arial, Helvetica, sans-serif;
        }

        h1 {
            color: #007bff;
            font-family: Arial, Helvetica, sans-serif;
        }
    </style>
</head>
<body>
    <h1>About Us</h1>
    <p>Team:</p>
    <p><i>Arli A Sasi Vardhan</i></p>
    <p><i>Ishak Shaik</i></p>
    <p><i>Vignan Cheepurupalli</i></p><br>
    <p>
        We have tried our level best by combining our skills in web development and backend infrastructure and have created this platform that seamlessly delivers personalized news content from diverse sources. We continue to innovate and improve this application, keeping you informed and engaged in an ever-evolving digital landscape.
    </p>
</body>
</html>
