<!DOCTYPE html>
<html>
<head>
    <title>News Wave</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <center><b>{{ message }}</b></center> 
    {% endfor %}
  {% endif %}
{% endwith %}
<body>
    <div class="navbar">
        <div class="navbar-brand">
            <a href="/"><h2>News Wave</h2></a>
        </div>
        <div class="navbar-button">
            <a href="{{ url_for('aboutus') }}" class="button" style="color: #fff; text-decoration: none;">About Us</a>
        </div>
        <div class="navbar-links">
            <div class="navbar-dropdown">
                <button class="dropbtn button">Categories</button>
                <div class="dropdown-content">
                    <a href="/category/entertainment">Entertainment</a>
                    <a href="/category/business">Business</a>
                    <a href="/category/health">Health</a>
                    <a href="/category/science">Science</a>
                    <a href="/category/sports">Sports</a>
                    <a href="/category/technology">Technology</a>
                </div>
            </div>
            <div class="navbar-button">
                <a href="{{url_for('send_newsletter')}}" class="button">Newsletter</a>
            </div>
            <div class="navbar-button">
                <a href="{{url_for('logout')}}" class="button">Logout</a>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="top-headlines">
            <h1>Top Headlines</h1>
            <div class="articles">
                {% if top_headlines %}
                    {% for article in top_headlines %}
                        <div class="article">
                            <h2>{{ article['title'] }}</h2>
                            <p>{{ article['description'] }}</p>
                            <a href="/news/{{ article['url'] }}" class="read-more">Read more</a>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>No top headlines available.</p>
                {% endif %}
            </div>
        </div>
    </div>
</body>
</html>
